<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/logs/internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <variable name="logDirectory" value="${basedir}/logs"/>

  <targets>
    <!-- Console target for development -->
    <target xsi:type="Console" name="console"
            layout="${longdate}|${level:uppercase=true}|${message}|${logger}|${processid}|${threadid}${onexception:|${exception:format=tostring}}" />

    <!-- File target for all logs -->
    <target xsi:type="File" name="allfile"
            fileName="${logDirectory}/${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${message}|${logger}|${processid}|${threadid}${onexception:|${exception:format=tostring}}"
            archiveFileName="${logDirectory}/archives/${shortdate}-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="30" />

    <!-- File target for errors only -->
    <target xsi:type="File" name="errorfile"
            fileName="${logDirectory}/errors-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${message}|${logger}|${processid}|${threadid}${onexception:|${exception:format=tostring}}"
            archiveEvery="Day"
            maxArchiveFiles="30" />

    <!-- Client logs from frontend -->
    <target xsi:type="File" name="clientfile"
            fileName="${logDirectory}/client-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|[CLIENT]|${message}"
            archiveEvery="Day"
            maxArchiveFiles="30" />
  </targets>

  <rules>
    <!-- All logs -->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
    
    <!-- Console in development -->
    <logger name="*" minlevel="Debug" writeTo="console" />

    <!-- Errors only -->
    <logger name="*" minlevel="Error" writeTo="errorfile" />

    <!-- Client logs -->
    <logger name="ClientLogger" minlevel="Trace" writeTo="clientfile" />

    <!-- Skip Microsoft logs below Warning -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
  </rules>
</nlog>
